<div class="well">
  <%=@user.full_name%>'s Reviews<br/>
  <a id="reviews_test_jquery">Click me</a> to test the jQuery code in reviews.js!!
</div>

<div class="well">
  <table class="table table-striped">
    <thead>
      <th>Book Title</th>
      <th>Author</th>
      <th>Review</th>
      <th></th>
      <th></th>
      <th>Last Update</th>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td><%=review.book.title%></td>
          <td><%=review.book.author%></td>
          <td><%=review.content%></td>
          <td><a href="<%=edit_book_review_path review.book, review %>"><i class="fa fa-pencil-square-o"></i></a></td>
          <td>
            <%= link_to review_path(review), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-times"></i>
            <% end %>
          </td>
          <td><%=review.updated_at.strftime("%F %T")%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="well">
  <%= link_to 'Back to the Main Page', main_path %>
</div>